.Board-wrapper {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h2 {
            background: purple;
            font-size: 25px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
        }
        input {
            margin: 20px;
            font-size: 30px;
            text-align: center;
        }
        button {
            margin: 0 10px;
        }
    }
    &__board {
        color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 450px;
        margin-top: 20px;
        &__item {
            width: 60px;
            height: 40px;
            margin: 10px;
            text-transform: uppercase;
        }
    }
}
.correct {
    color: green;
    animation: animationFrames1 linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}
.missed {
    color: red;
    animation: animationFrames linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

@keyframes animationFrames1 {
    0% {
        opacity: 1;
        transform: scaleX(1) scaleY(1);
    }
    25% {
        opacity: 1;
        transform: scaleX(0.95) scaleY(0.95);
    }
    50% {
        opacity: 1;
        transform: scaleX(1.1) scaleY(1.1);
    }
    100% {
        opacity: 0;
        transform: scaleX(0.3) scaleY(0.3);
    }
}

@keyframes animationFrames {
    0% {
        transform: translate(0px, 0px);
    }
    10% {
        transform: translate(-10px, 0px);
    }
    20% {
        transform: translate(10px, 0px);
    }
    30% {
        transform: translate(-10px, 0px);
    }
    40% {
        transform: translate(10px, 0px);
    }
    50% {
        transform: translate(-10px, 0px);
    }
    60% {
        transform: translate(10px, 0px);
    }
    70% {
        transform: translate(-10px, 0px);
    }
    80% {
        transform: translate(10px, 0px);
    }
    90% {
        transform: translate(-10px, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
